{% extends "service/base.html" %}
{% load static %}

{% block title %}Текущий заказ{% endblock %}

{% block content %}
  <h1>Ваша корзина</h1>
  <table class="cart">
    <thead>
      <tr>
        <th></th>
        <th>Позиция</th>
        <th>Note</th>
        <th>Количество</th>
        <th>Удаление</th>
        <th>Цена за позицию</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      {% for piece in cart %}
        {% with product=piece.item %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}">
              </a>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.note }}</td>
            <td><form action="{% url "cart:cart_add" product.id %}" method="post">
                {{ piece.update_quantity_form.quantity }}
                {{ piece.update_quantity_form.update }}
                <input type="submit" value="Обновить">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "cart:cart_remove" product.id %}">Удалить</a></td>
            <td class="num">{{ product.price }} BYN</td>
            <td class="num">{{ piece.total_price }} BYN</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} BYN</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "service:item_list" %}" class="button light">Продолжить поиск позиций</a>
    <a href="{% url "orders:order_create" %}" class="button">Подтвердить</a>
  </p>
{% endblock %}