{% extends "service/base.html" %}
{% load static %}

<h1>Waitless project</h1>

<div>
    <h3>Данный проект был создан для принятия заказов в кальянной без необходимости ожидать официантов.</h3>

<h5>*Подключена СУБД PostgreSQL</h5>
<h5>*Создан каталог товаров на основе 2 моделей - Category(разделы меню) и Item(доступные к заказу позиции)</h5>

<h5>*Создана корзина для формирования заказа и его отправки в обработку.</h5>

<h5>*Реализована система сессий для хранения данных в корзине, на случай, если пользователь не залогинился до ее формирования.</h5>

<h5>*Реализована возможность создания пользователя, редактирование профиля, смена и сброс пароля.</h5>

<h5>*Реализована аутентификация пользователей через социальные сети:</h5>

    <ul>
        <li>Google</li>
        <li>VK</li>
        <li>Facebook(не работает без https c 2018 года)</li>
    </ul>
<h5>*Реализована возможность аутентификации пользователь по любому из параметров - email или login.</h5>

<h5>*Проект состоит следующих приложений:</h5>
    <ul>
        <li>-account</li>
        <li>-service</li>
        <li>-cart </li>
        <li>-orders </li>
    </ul>

</div>