{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}My service{% endblock %}</title>
        <link rel="stylesheet type="text/css" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div id="header">
          <a href="/" class="logo">Waitless</a>
          <div class="navbar container">
            <nav class="nav">
              <button class="m-menu">
                <svg
                  width="15"
                  height="9"
                  viewBox="0 0 15 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <line y1="0.5" x2="15" y2="0.5" stroke="white" />
                  <line y1="4.5" x2="15" y2="4.5" stroke="white" />
                  <line y1="8.5" x2="15" y2="8.5" stroke="white" />
                </svg>
              </button>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/" class="menu-link">Главная</a>
                </li>
                <li class="menu-item">
                  <a href="#" class="menu-link">Меню</a>
                </li>
                <li  class="menu-item">
                  <a href="#" class="menu-link">О нас</a>
                </li>
                <li {% if section == "contacts" %}class="selected"{% endif %} class="menu-item">
                  <a href="#" class="menu-link">Контакты</a>
                </li>
                <li {% if section == "dashboard" %}class="selected"{% endif %} class="menu-item">
                  <a href="{% url "dashboard" %}" class="menu-link">Личный кабинет</a>
                </li>
              </ul>
            </nav>
            <div class="user">
              {% if request.user.is_authenticated %}
                Привет {{ request.user.username }},
                <a class="log" href="{% url "logout" %}">Выйти из системы</a>
              {% else %}
                <a class="log" href="{% url "login" %}">Войти</a>
              {% endif %}
            </div>
          </div>
          <!-- /.navbar -->
          {% if request.user.is_authenticated %}
          
          {% endif %}

        
  </div>
        </div>
        <div id="subheader">
            <div class="cart">
              {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                  В вашем заказе:
                  <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} позиция {{ total_items|pluralize }}, на сумму
                    {{ cart.get_total_price }}BYN
            </a>
          {% else %}
            Вы еще не выбрали позиции для заказа.
          {% endif %}
        {% endwith %}</div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>