@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    background: linear-gradient(180deg, rgba(10, 0, 97, 0.02) 10%, #1512cca8 99.90%);
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color:black;
}

a:hover {
    color:gray;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p label#id_room{
    padding-bottom:0px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
    position: fixed;
    background: linear-gradient(0deg, rgba(8, 2, 98, 0.55) 0%, #14006b 42.00%);
    width: 100%
}

#subheader {
    background:#ececec;
    color:#444;
    padding:150px 100px 15px;
    overflow:auto;
}

#header .logo {
    text-decoration: none;
    font-family: 'Sedgwick Ave', cursive;
    float:left;
    color:rgb(255, 255, 255);
    font-size:32px;
    margin-right:10%;
}
.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-left: 57px;
  }

menu.ul {
    display: inline-block;
}

.container {
    width: 1170px;
    margin: auto;
  } 

.navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1170;
  }


.menu-item {
    margin-right: 25px;
  }
.menu-link {
    color: white;
    text-decoration: none;
  }
.m-menu {
	display: none;
}

.user {
    margin-left: 10px;
    color: #fff;
    display: block;
    align-items: center;
  }
div.user{
    text-decoration:lavender;
    color:honeydew;
}
  .log {
    text-decoration:lavender;
    color:rgb(105, 118, 150);
  }

[href]{
    text-decoration: underline;
}


#subheader .cart {
    float:right;
    padding-top:4px;
}

#content {
    padding:0 100px;
    overflow:hidden;
}

#sidebar {
    width:220px;
    padding:30px 20px 0 0;
    float:left;
}

#sidebar ul{
    margin:0;
    padding:0;
}

#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#5993bb;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}
.button-big{
    width: 50px;
    height: 50px;
}

.item-list .item {
    width:25%;
    min-height:280px;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.item-list .item img {
    width:100%;
    margin-bottom:8px;
}

.item-detail {
    text-align:justify;
}

.item-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.item-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.item-detail h1 {
    margin-bottom:0;
}

.item-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

.social {
    float:right;
}
.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}

.social li.facebook { background:#3b5399; }
.social li.google { background:#de1710; }

.social li.vk { background:#0077FF; }

li.vk a, li.google a{
    text-decoration: none;
}

@media (max-width: 1200px) {
    .container {
      max-width: 760px;
    }
  .user {
      margin-left: 10px;
  
  }
  @media (max-width: 992px) {
      .container {
          max-width: 750px
      }
      .menu-item {
          margin-right: 20px;
      }
  }
    @media (max-width: 768px) {
      .container {
          max-width: 560px
      }
      .menu {
          position: absolute;
          left: 0;
          top: 30px;
          padding-left: 20px;
          margin-left: 20px;
          flex-direction: column;
          background-color: #621402;
          z-index: 9;
          border-radius:10px;
          display:none;
      }
      menu:hover{
          display: flex;
      }
      .menu-item:not(:last-child)  {
          margin-bottom: 10px;
  
      }
      .m-menu {
          display: block;
          background-color: transparent;
          border: none;
          width: 40px;
          height: 40px;
          margin-left: 10px;
          cursor: pointer;
      }