{% extends "service/base.html" %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId            : 'your-app-id',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v12.0'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <h1>Log-in</h1>
  {% if form.errors %}
    <p>
      Вы ввели неверный логин или пароль.
      Пожалуйста, попробуйте снова.
    </p>
  {% else %}
    <p>Пожалуйста, используйте следующую форму для входа. Если у вас еще нет аккаунта
<a href="{% url "register" %}">зарегистрирйтесь здесь</a>
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Log-in"></p>
    </form>
    <p><a href="{% url "password_reset" %}">Забыли пароль?</a></p>
  </div>
  <div class="social">
    <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v12.0&appId=469271204590566&autoLogAppEvents=1" nonce="rj5UfiQC"></script>
      <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
      <li class="google">
        <a href="{% url "social:begin" "google-oauth2" %}">
        Вход через Google
        </a>
      </li>
      <li class="vk">
        <a href="{% url "social:begin" "vk-oauth2" %}">
        Вход через VK
        </a>
      </li>
  </div>
  {% endblock content %}
